<h1 mat-dialog-title>Brush color</h1>
<div mat-dialog-content>
  <mat-form-field>
    <input matInput [ngxMatColorPicker]="picker" [formControl]="colorCtr" [disabled]="this.canvasSvc.rainbowEnabled">
    <ngx-mat-color-toggle matSuffix [for]="picker"></ngx-mat-color-toggle>
    <ngx-mat-color-picker #picker></ngx-mat-color-picker>
  </mat-form-field>
  <mat-checkbox [(ngModel)]="this.canvasSvc.rainbowEnabled">Rainbow brush</mat-checkbox>
  <div>
    Rainbow rate:
    <mat-slider
      thumbLabel
      min="0.5"
      max="10"
      step="0.5"
      class="mt-4"
      [disabled]="!this.canvasSvc.rainbowEnabled"
      [(ngModel)]="this.canvasSvc.rainbowRate"
    ></mat-slider>
  </div>
</div>
<div mat-dialog-actions>
  <button mat-button class="ml-auto" (click)="this.confirm();">Ok</button>
</div>
