<mat-button-toggle-group name="favoriteColor" aria-label="Favorite Color" value="Brush" vertical>
  <button mat-mini-fab [style.background-color]="paintSvc.getBrushColor()" (click)="openBrushColorDialog()" class="color-button">
  </button>
  <mat-button-toggle value="Brush" (click)="setSelectedOperation('Brush')"><i class="ti ti-brush"></i></mat-button-toggle>
  <mat-button-toggle value="Line" (click)="setSelectedOperation('Line')"><i class="ti ti-layout-line-solid"></i></mat-button-toggle>
  <mat-button-toggle value="Rectangle" (click)="setSelectedOperation('Rectangle')"><i class="ti ti-layout-width-full"></i></mat-button-toggle>
  <mat-button-toggle value="Bucket" (click)="setSelectedOperation('Bucket')"><i class="ti ti-paint-bucket"></i></mat-button-toggle>
  <mat-button-toggle value="Selection" (click)="setSelectedOperation('Selection')"><i class="ti ti-layout-sidebar-none"></i></mat-button-toggle>
</mat-button-toggle-group>
